{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block content %}

  {% block content_header %}
    <h2>Files</h2>
    <p>
      <a href="{% url 'upload_file' %}" class="btn btn-primary">Upload file</a>
    </p>
    <p>
      <a href="{% url 'new_directory' %}" class="btn btn-primary">New directory</a>
    </p>
    {% if not address == "" %}
      <p>
        <a href="{% url 'go_back' %}" class="btn btn-primary">Go back</a>
      </p>
    {% endif %}

  {% endblock %}

  <h3>Address = "{{ address }}" {% if address == "" %} (Root) {% endif %}</h3>

  <table class="table mb-0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Size</th>
        <th>Modification date</th>
        <th>Actions</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for file in files %}
        {# Files #}
        {% if file.category == "File" %}
          <tr>
            <td>{{ file.name }}</td>
            <td>{{ file.category }}</td>
            <td>{{ file.size }} ko</td>
            <td>{{ file.modification_date }}</td>
            <td>
              <div class="dropdown">
                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Actions
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item btn btn-sm" href="{{ file.file.url }}">
                    Download
                  </a>
                  <a class="dropdown-item btn btn-sm" href="{% url 'rename_file' file.pk file.name %}">
                    Rename
                  </a>
                </div>
              </div>
            </td>
            <td>
              <form method="post" action="{% url 'delete_file' file.pk %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
              </form>
            </td>
          </tr>
        {% endif %}
        {# Directories #}
        {% if file.category == "Directory" %}
          <tr>
            <td>{{ file.name }}</td>
            <td>{{ file.category }}</td>
            <td>{{ file.size }} ko</td>
            <td>{{ file.modification_date }}</td>
            <td>
              <div class="dropdown">
                <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Actions
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                  <a class="dropdown-item btn btn-sm" href="{% url 'change_address' file.name %}">
                    Go To
                  </a>
                  <a class="dropdown-item btn btn-sm" href="{{ file.file.url }}" target="_blank">
                    Download
                  </a>
                  <a class="dropdown-item btn btn-sm" href="{% url 'rename_directory' file.pk file.name %}">
                    Rename
                  </a>
                </div>
              </div>
            </td>
            <td>
              <form method="post" action="{% url 'delete_directory' file.pk %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
              </form>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
