{% extends "_base.html" %}
{% load crispy_forms_tags %}
{% block content %}

  {% block content_header %}
    <h2>Files</h2>
    <p>
      <a href="{% url 'upload_file' %}" class="btn btn-primary">Upload file</a>
    </p>
    <p>
      <a href="{% url 'new_directory' %}" class="btn btn-primary">New directory</a>
    </p>

  {% endblock %}

  <h3>Address = {% address %}</h3>

  <table class="table mb-0">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Size</th>
        <th>Modification date</th>
        <th>Action</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for file in files %}
        {# Fichiers #}
        {% if file.file_category == "Fichier" %}
          <tr>
            <td>{{ file.name }}</td>
            <td>{{ file.file_category }}</td>
            <td>{{ file.size }} ko</td>
            <td>{{ file.modification_date }}</td>
            <td>
              <a href="{{ file.file.url }}" class="btn btn-primary btn-sm" target="_blank">
                Download
              </a>
            </td>
            <td>
              <form method="post" action="{% url 'delete_file' file.pk %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
              </form>
            </td>
          </tr>
        {% endif %}
        {# Dossiers #}
        {% if file.file_category == "Dossier" %}
          <tr>
            <td>{{ file.name }}</td>
            <td>{{ file.file_category }}</td>
            <td>{{ file.size }} ko</td>
            <td>{{ file.modification_date }}</td>
            <td>
              <a href="{% url 'file_list' file.name %}" class="btn btn-primary btn-sm" target="_blank">
                Go To
              </a>
            </td>
            <td>
              <form method="post" action="{% url 'delete_file' file.pk %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-danger btn-sm">Delete</button>
              </form>
            </td>
          </tr>
        {% endif %}
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
