{% extends "_base.html" %}
{% load i18n %}

{% block title %}{% trans "NAS" %}{% endblock %}
{% block nav_home %}active{% endblock %}

{% block content %}
  <h1>{% blocktrans %}Network Attached Storage <small> with multiuser encryption sharing</small>{% endblocktrans %}</h1>
  <p>{% blocktrans %}Welcome to the NAS solution. {% endblocktrans %}</p>


  {% url 'registration_register' as reg_url %}
  {% url 'two_factor:login' as login_url %}
  {% url 'two_factor:setup' as setup_url %}
  {% url 'logout' as logout_url %}
  {% url 'secret' as secret_url %}
  {% url 'upload_file' as single_url %}
  {% url 'upload_shared_file' as shared_url %}


  <h4>{% trans "Quick Start:" %}</h4>
  <ol>
    <li>{% blocktrans %}Start by <a href="{{ reg_url }}">registering</a> an
      account.{% endblocktrans %}</li>
    <li>{% blocktrans %}<a href="{{ login_url }}">Login</a> to your account.
      {% endblocktrans %}</li>
    <li>{% blocktrans %}<a href="{{ setup_url }}">Enable</a> two-factor
      authentication.{% endblocktrans %}</li>
    <li>{% blocktrans %}Then, <a href="{{ logout_url }}">logout</a> and
      <a href="{{ login_url }}">login</a> once more to your account to see
      two-factor authentication at work.{% endblocktrans %}</li>
      <li>{% blocktrans %}Finally try the <a href="{{ single_url }}">single file upload</a>  and
        <a href="{{ shared_url }}">shared file management</a> functions.{% endblocktrans %}</li>
    </ol>
{% endblock %}
