{% extends "_base.html" %}

{% load crispy_forms_tags %}

{% block content %}

  <h2>Upload shared file</h2>
  

<h3>Choose the file(s)</h3>
</br>
    <form class="form-horizontal" method="POST" enctype="multipart/form-data" action="">
        {% csrf_token %}
        {{ form|crispy }}
        {{ formset.management_form }}
        {% for form in formset %}
        <div class="row form-row">
            <div class="col-2">
                <label>{{form.name.label}}</label>
            </div>
            <div class="col-4">
                <div class="input-group" style="width:100%">
                    <div style="float:left;width:80%">
                        {{form.name}}
                    </div>
                    <div class="input-group-append" style="float:right;width:50px">
                        <button class="btn btn-success add-form-row">+</button>
                    </div>
                </div>
            </div>
        </div>
        {% endfor %}
        <br>
        <div class="row">
            <div class="col-4 offset-2">
                <button type="submit" class="btn btn-block btn-primary">Upload file</button>
            </div>
        </div>
    </form>


{% load static %}
<script src="{% static 'js/upload_shared_file.js' %}"></script>

{% endblock %}







